<div class="register-main">
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <a class="" href="/login"><h2 class="inactive"> Sign In </h2></a>
          <h2 class="active underlineHover">Sign Up </h2>
      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="/assets/icon.svg" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          <form>
            <h2>Register is not available for this time</h2>
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="/login">Already a member?</a>
          </div>
      
        </div>
      </div>
</div>